// Custom styles.
//侧栏目录链接样式  
.post-toc ol a {
    color: rgb(192, 192, 192);
}
.post-toc ol a:hover {
    color: rgb(255, 255, 255);
}



// 侧栏次级目录链接样式
.post-toc .nav .active > a {
    color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
}
.post-toc .nav .active > a:hover {
    color: rgb(255, 255, 255);
}